CMakeCache.txt
CMakeFiles
Makefile
cmake_install.cmake
CTestTestfile.cmake
CPackConfig.cmake
CPackSourceConfig.cmake
install_manifest.txt
SceneEditor
docs/
*.vcxproj
*.sln
*.filters
Doxyfile
tags
src/config.h

po/POTFILES.in
po/POTFILES
